@charset "UTF-8";



body.loading .loading-modal {
    display: block
}

.title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.calender{
    float: right;
    background: #31820B;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}
/* .calender:hover{
    box-shadow: 3px 2px 2px 3px;
} */
.dropzone {
    border: 4px dashed black;
    height: 200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    background-color: white;
    margin-bottom:20px;
}
.dropzone1 {
    padding:20px;
    border: 4px dashed black;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    background-color: white;
    margin-bottom:20px;
}
.info {
    margin-top: 11%;
}

.dropzone p {
    margin: 0%;
    text-align: center;
    width: 100%
}

.input {
    height: 100%;
    left: 0;
    outline: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.status {
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image-url {
    width: 50%;
}

.dropzone.dropzone-dragging {
    border-color: #000
}

.loading-modal {
    background-color: rgba(255, 255, 255, .8);
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.loading-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

.img {
    width: 100%;
}