@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

  #mainlogo{
    width:230px;
  }
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #41B7B7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    color: blue;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.bg-steel {
    background-color: transparent;
    
  }
  .navbar-scrolled{
      background-color: #41B7B7;
      box-shadow:0px 0px 10px 0px rgba(0,0,0,0.6);
  }
  #navbarToggle > div:nth-child(2) > a{
      color: black;
      margin:0px 0.8em;
      font-weight: 600;
  }
  .intro{
      padding: 6em 0px 2em 0px;
  }
  .topper{
      background-image: url(./topper.png);
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
     

  }
  #preloader{
    display: -webkit-box;
    display: flex;
    width: 100%;
    height: 100vh;
    left: 0;
    background-image: url(./loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    position: fixed;
    overflow: visible;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    background-color: #41B7B7;
    margin: 0;
  }
  .topper1{
    background-image: url(./signup.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .login{
    padding:15vw 50vw 13vw 0vw;
  }
  .login1{
      padding: 10vw 20vw 13vw 20vw;
      
  }
  .info1{
    background-color: white;
    border-radius: 8px;
    padding: 3em;
  }
  .form-group{
      margin: 2em auto;
  }
  .signin{
      margin-top: 2em;
  }
  .signin span{
      color: blue;
      font-weight: 600;
  }
  .row{
      display: flex;
      text-align: center;
  }
  footer a{
      color: #41B7B7;
  }
  .card{
     padding: 2em 8em;
     
  }
  li,li span{
      
      font-weight: 800;
  }
  .border-bottom1{
    border-bottom: 2px solid black !important;
  }
  .border-top1{
      border-top: 2px solid black !important;
  }
  .aboutus{
      text-align: justify;
      padding-top: 2em;
  }
  .aboutinfo{
      display: flex;
      flex-wrap: wrap;
  }
  .aboutus h4{
      text-align: center;
      font-weight: 600;
  }
  .footer {
	background: #0c0c0c;
	position: relative;
}
.footerv3-top h3 {
	font-size: 1.3em;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}
h4.footer-title {
	color: #777;
	text-transform: capitalize;
}
.footer p a {
	color: #777;
}

.footer p a:hover {
	color: #ED4F2E;
}
.footer-top p {
	max-width: 400px;
	color: #777;
}
.footer-top p {
	max-width: 400px;
}

.footerv2-w3ls ul.social-iconsv2 li {
	display: inline-block;
	margin-right: 6px;
}

.footerv2-w3ls ul.social-iconsv2 li a {
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}

.footerv2-w3ls ul.social-iconsv2 li a i.fab {
	font-size: 14px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.footerv2-w3ls ul.social-iconsv2 li:first-child {
	background:#41B7B7;
	color: #fff;
}

.footerv2-w3ls ul.social-iconsv2 li:last-child {
	background:#41B7B7;
	color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li:nth-child(3) {
	background: #dd4b39;
	color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li a i.fab:hover {
	background-color: #fff;
	color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li:nth-child(2) {
	background: #41B7B7;
	color: #000;
}

.footerv2-w3ls ul.social-iconsv2 li a:hover {
	color: #fff;
}

hr {
	border-top: 1px solid rgb(31, 31, 31);
}
.footer-position {
	position: absolute;
	width: 60%;
	background: #41B7B7;
	left: 20%;
	top: -8%;
}
h3.w3f_title {
	font-size: 1.3em;
	color: #41B7B7;
}
.box{
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.box:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    background-color: rgb(190, 190, 190);
}

.servicecard{
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.servicecard img{
  margin-bottom: 20px;
}